In [1]:
# Dependencies
import pandas as pd
import numpy as np
from config import gkey 
import gmaps
import matplotlib.pyplot as plt

In [2]:
# Store filepath in a variable
Poverty_Data = "Data/Poverty_Data.csv"
Poverty_Education_Data = "Data/Poverty_Education_Data.csv"
Income_Data = "Data/Income.csv"
zipcode = "Data/zipcode.csv"

In [3]:
Poverty_Data_df = pd.read_csv(Poverty_Data, encoding="ISO-8859-1", skiprows=[1], low_memory=False)
Poverty_Education_Data_df = pd.read_csv(Poverty_Education_Data, encoding="ISO-8859-1", skiprows=[1], low_memory=False)
Income_Data_df = pd.read_csv(Income_Data, encoding="ISO-8859-1", skiprows=[1], low_memory=False)
zipcode_df =pd.read_csv(zipcode, low_memory= False )

In [4]:
#Poverty_Education_Data_df.head()

In [5]:
Poverty_Data_df['GEO.display-label'] = Poverty_Data_df['GEO.display-label'].astype(str).str[-5:]
Poverty_Education_Data_df['GEO.display-label'] = Poverty_Education_Data_df['GEO.display-label'].astype(str).str[-5:]
Income_Data_df['GEO.display-label'] = Income_Data_df['GEO.display-label'].astype(str).str[-5:]

In [6]:
#Poverty_Education_Data_df.head()

In [7]:
del Poverty_Data_df['GEO.id']
del Poverty_Data_df['GEO.id2']
Poverty_Data_df.rename(columns={'GEO.display-label':'Zip Code'}, inplace=True)

del Poverty_Education_Data_df['GEO.id']
del Poverty_Education_Data_df['GEO.id2']
Poverty_Education_Data_df.rename(columns={'GEO.display-label':'Zip Code'}, inplace=True)

del Income_Data_df['GEO.id']
del Income_Data_df['GEO.id2']
Income_Data_df.rename(columns={'GEO.display-label':'Zip Code'}, inplace=True)

In [8]:
Income_Data_df.rename(columns={'HC03_EST_VC02':'Mean income (dollars); Estimate; All households'}, inplace=True)
Income_Data_df.rename(columns={'HC03_MOE_VC02':'Mean income (dollars); Margin of Error; All households'}, inplace=True)

In [9]:
Income_Data_clean_df = Income_Data_df[['Zip Code','Mean income (dollars); Estimate; All households', 'Mean income (dollars); Margin of Error; All households']]

In [10]:
Income_Data_clean_df = Income_Data_clean_df[Income_Data_clean_df['Mean income (dollars); Estimate; All households'] != 'N']
Income_Data_clean_df = Income_Data_clean_df[Income_Data_clean_df['Mean income (dollars); Estimate; All households'] != '-']

In [11]:
Income_Data_clean_df['Mean income (dollars); Estimate; All households'].astype(float)
Income_Data_clean_df['Mean income (dollars); Margin of Error; All households'].astype(float)
Income_Data_clean_df.head()

,Zip Code,Mean income (dollars); Estimate; All households,Mean income (dollars); Margin of Error; All households
0,00601,18970,2094
1,00602,24179,1772
2,00603,27627,2135
3,00606,16739,1970
4,00610,25085,1468

In [12]:
#zipcode_df.head()
zipcode_df.count()

Zip Code    33144
Lat         33144
Long        33144
dtype: int64

In [13]:
Income_Data_clean_df["Zip Code"].count()

31940

In [14]:
zipcode_df.dtypes

Zip Code      int64
Lat         float64
Long        float64
dtype: object

In [15]:
Income_Data_clean_df.astype(int)

,Zip Code,Mean income (dollars); Estimate; All households,Mean income (dollars); Margin of Error; All households
0,601,18970,2094
1,602,24179,1772
2,603,27627,2135
3,606,16739,1970
4,610,25085,1468
5,612,25454,1472
6,616,23073,3776
7,617,22839,1758
8,622,32910,10194
9,623,24124,1510
10,624,23157,1526
11,627,26405,2087
12,631,16679,4871
13,637,24481,1514
14,638,21401,2559
15,641,22780,1221
16,646,45044,3471
17,647,16271,1827
18,650,21530,2022
19,652,27512,5449
20,653,18561,2717
21,656,22116,1623
22,659,27132,1983
23,660,27174,2366
24,662,23436,1517
25,664,20527,2587
26,667,20081,1900
27,669,21000,1942
28,670,20031,2395
29,674,26790,1496
...,...,...,...
33087,99783,34216,9178
33088,99784,45499,7473
33089,99785,40856,4942
33090,99786,61281,10193
33091,99788,37463,8428
33092,99789,94427,11408
33094,99791,81800,14741
33095,99801,108126,6997
33096,99820,53188,9740
33097,99824,91825,6180
33098,99825,97252,28867
33099,99826,80295,12634
33100,99827,83211,13719
33101,99829,72963,6027
33102,99830,56048,8731
33103,99832,75406,15603
33104,99833,83850,6994
33105,99835,84007,4599
33106,99836,79465,16258
33107,99840,81260,5130
33108,99841,76762,23571
33109,99901,83221,3395
33111,99918,67542,10688
33112,99919,63741,10225
33113,99921,74234,4673
33114,99922,41578,7911
33116,99925,61273,5706
33117,99926,70070,7012
33118,99927,18339,8206
33119,99929,67368,5007

In [16]:
Income_Data_clean_df = Income_Data_clean_df.astype(int)
#Income_Data_clean_df.dtypes

In [17]:
zipcode_coord = pd.merge(Income_Data_clean_df, zipcode_df, on = 'Zip Code')
zipcode_coord.head(50)

,Zip Code,Mean income (dollars); Estimate; All households,Mean income (dollars); Margin of Error; All households,Lat,Long
0,601,18970,2094,18.180555,-66.749961
1,602,24179,1772,18.361945,-67.175597
2,603,27627,2135,18.455183,-67.119887
3,606,16739,1970,18.158345,-66.932911
4,610,25085,1468,18.295366,-67.125135
5,612,25454,1472,18.402253,-66.711397
6,616,23073,3776,18.420412,-66.671979
7,617,22839,1758,18.445147,-66.559696
8,622,32910,10194,17.991245,-67.153993
9,623,24124,1510,18.083361,-67.153897
10,624,23157,1526,18.064919,-66.716683
11,627,26405,2087,18.412600,-66.863926
12,631,16679,4871,18.190607,-66.832041
13,637,24481,1514,18.076713,-66.947389
14,638,21401,2559,18.295913,-66.515588
15,641,22780,1221,18.263085,-66.712985
16,646,45044,3471,18.433150,-66.285875
17,647,16271,1827,17.963613,-66.947127
18,650,21530,2022,18.349416,-66.578079
19,652,27512,5449,18.448452,-66.594127
20,653,18561,2717,17.985033,-66.886536
21,656,22116,1623,18.053539,-66.792931
22,659,27132,1983,18.407226,-66.808999
23,660,27174,2366,18.134695,-67.116199
24,662,23436,1517,18.468320,-67.015781
25,664,20527,2587,18.210330,-66.591616
26,667,20081,1900,18.003422,-67.035810
27,669,21000,1942,18.277102,-66.869645
28,670,20031,2395,18.240187,-66.988776
29,674,26790,1496,18.422908,-66.489337
30,676,20904,1525,18.377637,-67.079574
31,677,24840,2647,18.332568,-67.227022
32,678,23860,3119,18.434099,-66.927384
33,680,24278,2173,18.182055,-67.132502
34,682,28953,2599,18.221464,-67.156039
35,683,24598,1962,18.107800,-67.037263
36,685,20660,1348,18.332929,-66.959689
37,687,24517,1807,18.319026,-66.420557
38,688,22204,1697,18.382264,-66.626438
39,690,24927,3515,18.495510,-67.098671
40,692,29906,2987,18.410188,-66.336556
41,693,27592,1691,18.423000,-66.397232
42,694,15296,3414,18.482370,-66.391079
43,698,22088,1253,18.064848,-66.856319
44,703,27068,4456,18.248401,-66.130662
45,704,19484,2849,17.965770,-66.219555
46,705,26602,3252,18.128961,-66.266683
47,707,23835,3805,18.014055,-65.920751
48,714,20483,2165,18.003025,-66.046237
49,715,19302,5983,18.011233,-66.560065

In [18]:
# Creating map 
gmaps.configure(api_key=gkey)

In [19]:
#creating markers 
locations = zipcode_coord[["Lat","Long"]].astype(float)
income = zipcode_coord["Mean income (dollars); Estimate; All households"].tolist()

In [21]:
# Create a map using state centroid coordinates to set markers
marker_locations = zipcode_coord[["Lat","Long"]]

# Create a marker_layer using the poverty list to fill the info box
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)


fig.add_layer(heat_layer)


fig

SyntaxError: invalid syntax (<ipython-input-21-8147b0f54e05>, line 7)