In [2]:
# Dependencies
import pandas as pd
import numpy as np

In [3]:
# Store filepath in a variable
Poverty_Data = "Data/Poverty_Data.csv"
Poverty_Education_Data = "Data/Poverty_Education_Data.csv"
Income_Data = "Data/Income.csv"

In [4]:
Poverty_Data_df = pd.read_csv(Poverty_Data, encoding="ISO-8859-1", skiprows=[1], low_memory=False)
Poverty_Education_Data_df = pd.read_csv(Poverty_Education_Data, encoding="ISO-8859-1", skiprows=[1], low_memory=False)
Income_Data_df = pd.read_csv(Income_Data, encoding="ISO-8859-1", skiprows=[1], low_memory=False)

In [5]:
#Poverty_Education_Data_df.head()

In [6]:
Poverty_Data_df['GEO.display-label'] = Poverty_Data_df['GEO.display-label'].astype(str).str[-5:]
Poverty_Education_Data_df['GEO.display-label'] = Poverty_Education_Data_df['GEO.display-label'].astype(str).str[-5:]
Income_Data_df['GEO.display-label'] = Income_Data_df['GEO.display-label'].astype(str).str[-5:]

In [7]:
#Poverty_Education_Data_df.head()

In [8]:
del Poverty_Data_df['GEO.id']
del Poverty_Data_df['GEO.id2']
Poverty_Data_df.rename(columns={'GEO.display-label':'Zip Code'}, inplace=True)

del Poverty_Education_Data_df['GEO.id']
del Poverty_Education_Data_df['GEO.id2']
Poverty_Education_Data_df.rename(columns={'GEO.display-label':'Zip Code'}, inplace=True)

del Income_Data_df['GEO.id']
del Income_Data_df['GEO.id2']
Income_Data_df.rename(columns={'GEO.display-label':'Zip Code'}, inplace=True)

In [11]:
Income_Data_df.rename(columns={'HC03_EST_VC02':'Mean income (dollars); Estimate; All households'}, inplace=True)
Income_Data_df.rename(columns={'HC03_MOE_VC02':'Mean income (dollars); Margin of Error; All households'}, inplace=True)

In [16]:
Income_Data_clean_df = Income_Data_df[['Zip Code','Mean income (dollars); Estimate; All households', 'Mean income (dollars); Margin of Error; All households']]

In [17]:
Income_Data_clean_df

,Zip Code,Mean income (dollars); Estimate; All households,Mean income (dollars); Margin of Error; All households
0,00601,18970,2094
1,00602,24179,1772
2,00603,27627,2135
3,00606,16739,1970
4,00610,25085,1468
5,00612,25454,1472
6,00616,23073,3776
7,00617,22839,1758
8,00622,32910,10194
9,00623,24124,1510
10,00624,23157,1526
11,00627,26405,2087
12,00631,16679,4871
13,00637,24481,1514
14,00638,21401,2559
15,00641,22780,1221
16,00646,45044,3471
17,00647,16271,1827
18,00650,21530,2022
19,00652,27512,5449
20,00653,18561,2717
21,00656,22116,1623
22,00659,27132,1983
23,00660,27174,2366
24,00662,23436,1517
25,00664,20527,2587
26,00667,20081,1900
27,00669,21000,1942
28,00670,20031,2395
29,00674,26790,1496
...,...,...,...
33090,99786,61281,10193
33091,99788,37463,8428
33092,99789,94427,11408
33093,99790,N,N
33094,99791,81800,14741
33095,99801,108126,6997
33096,99820,53188,9740
33097,99824,91825,6180
33098,99825,97252,28867
33099,99826,80295,12634
33100,99827,83211,13719
33101,99829,72963,6027
33102,99830,56048,8731
33103,99832,75406,15603
33104,99833,83850,6994
33105,99835,84007,4599
33106,99836,79465,16258
33107,99840,81260,5130
33108,99841,76762,23571
33109,99901,83221,3395
33110,99903,N,N
33111,99918,67542,10688
33112,99919,63741,10225
33113,99921,74234,4673
33114,99922,41578,7911
33115,99923,-,**
33116,99925,61273,5706
33117,99926,70070,7012
33118,99927,18339,8206
33119,99929,67368,5007