In [1]:
import pandas as pd
from uszipcode import SearchEngine
import pandas as pd
import requests
import json
import pprint as pprint
from tqdm import tqdm_notebook
from config import gkey
import gmaps
import numpy as np
import geopandas as gpd

In [2]:
zip_data = "Project1_Zipcode_Data.csv"
zip_data_df = pd.read_csv(zip_data, dtype=str, low_memory=False)

In [3]:
zip_data_df.head()

,Zip Code,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Total No HS Diploma,No HS Diploma Rate,Total HS Diploma,...,Never Married Rate,Married,Married Rate,Widowed,Widowed Rate,Divorced,Divorced Rate,Over 15 Marital Status,Lat,Lng
0,00601,17599.0,38.9,11757.0,7041.0,11282.0,64.105915108813,4288,36.12772769399275,2967,...,39.26204924321685,5846,40.775615540210644,863,6.019390388505267,1999,13.942944828067239,14337.0,NaN,NaN
1,00602,39209.0,40.9,16190.0,8978.0,20428.0,52.10028309826826,9407,34.17620345140781,6322,...,36.6230064883876,14586,44.22412224849918,2136,6.47625977806076,4181,12.676611485052453,32982.0,18.36,-67.18
2,00603,50135.0,40.4,16645.0,10897.0,25176.0,50.21641567767029,10310,29.464719499299818,9657,...,35.96377438262708,17614,42.312866339963485,3098,7.442106274622851,5945,14.281253002786586,41628.0,18.45,-67.11
3,00606,6304.0,42.8,13387.0,5960.0,4092.0,64.91116751269035,2147,49.40174873446848,1351,...,45.994684889901286,1880,35.68716780561883,431,8.181473044798786,534,10.136674259681094,5268.0,18.2,-66.9
4,00610,27590.0,41.4,18741.0,9266.0,12553.0,45.498368974266036,6260,32.553302132085285,6032,...,34.993288009353485,10581,45.81907937470229,1772,7.6733209197592345,2659,11.514311696184992,23093.0,18.28,-67.13

In [4]:
zip_data_df["Household Income"]=zip_data_df["Household Income"].astype(float)

zip_data_df["Population"]=zip_data_df["Population"].astype(float)
zip_data_df["Poverty Count"]=zip_data_df["Poverty Count"].astype(float)

zip_data_df["Total No HS Diploma"]=zip_data_df["Total No HS Diploma"].astype(int)
zip_data_df["No HS Diploma Rate"]=zip_data_df["No HS Diploma Rate"].astype(float)

zip_data_df["Total HS Diploma"]=zip_data_df["Total No HS Diploma"].astype(int)
zip_data_df["HS Diploma Rate"]=zip_data_df["HS Diploma Rate"].astype(float)

zip_data_df["Total Some College"]=zip_data_df["Total Some College"].astype(int)
zip_data_df["Some College Rate"]=zip_data_df["Some College Rate"].astype(float)

zip_data_df["Total College Degree"]=zip_data_df["Total Some College"].astype(int)
zip_data_df["College Degree Rate"]=zip_data_df["Some College Rate"].astype(float)


zip_data_df["Total educational attainment over 25"]=zip_data_df["Total educational attainment over 25"].astype(float)

zip_data_df["Never Married"]=zip_data_df["Never Married"].astype(int)
zip_data_df["Never Married Rate"]=zip_data_df["Never Married Rate"].astype(float)


zip_data_df["Married"]=zip_data_df["Married"].astype(int)
zip_data_df["Married Rate"]=zip_data_df["Married Rate"].astype(float)


zip_data_df["Widowed"]=zip_data_df["Widowed"].astype(int)
zip_data_df["Widowed Rate"]=zip_data_df["Widowed Rate"].astype(float)

zip_data_df["Divorced"]=zip_data_df["Divorced"].astype(int)
zip_data_df["Divorced Rate"]=zip_data_df["Divorced Rate"].astype(float)

In [5]:
zip_data_df.dtypes

Zip Code                                 object
Population                              float64
Median Age                               object
Household Income                        float64
Per Capita Income                        object
Poverty Count                           float64
Poverty Rate                             object
Total No HS Diploma                       int64
No HS Diploma Rate                      float64
Total HS Diploma                          int64
HS Diploma Rate                         float64
Total Some College                        int64
Some College Rate                       float64
Total College Degrees                    object
College Degree Rate                     float64
Total educational attainment over 25    float64
Never Married                             int64
Never Married Rate                      float64
Married                                   int64
Married Rate                            float64
Widowed                                   int64
Widowed Rate                            float64
Divorced                                  int64
Divorced Rate                           float64
Over 15 Marital Status                   object
Lat                                      object
Lng                                      object
Total College Degree                      int64
dtype: object

In [6]:
zip_data_df=zip_data_df.dropna()

In [7]:
locations = zip_data_df[["Lat","Lng"]].astype(float)

# Convert to float and store

locations = zip_data_df[["Lat","Lng"]].astype(float)
poverty= zip_data_df["Poverty Count"]
HS = zip_data_df["HS Diploma Rate"]


fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations,weights=poverty,opacity=.5,point_radius=6)
heat_layer1 = gmaps.heatmap_layer(locations,weights=HS,opacity=.5,point_radius = 6)
heat_layer2 = gmaps.heatmap_layer(locations,weights=HS,opacity=.5,point_radius = 6)

fig.add_layer(heat_layer)
fig.add_layer(heat_layer1)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
fp = "Project_1/cb_2018_us_zcta510_500k.shp"

In [11]:
map_df = gpd.read_file(fp)

DriverError: Project_1/cb_2018_us_zcta510_500k.shp: No such file or directory