In [23]:
# Dependencies
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from pprint import pprint
from scipy.stats import linregress
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from tqdm import tqdm_notebook
from config import gkey
import scipy.stats as stats

In [24]:
zip_data = "Project1_Zipcode_Data.csv"
zip_data_df = pd.read_csv(zip_data, dtype=str, low_memory=False)

In [29]:
HS_Diploma_Rate = zip_data_df[['Zip Code', 'No HS Diploma Rate']]

In [30]:
HS_Diploma_Rate

      Zip Code  No HS Diploma Rate
0        00601   36.12772769399275
1        00602   34.17620345140781
2        00603  29.464719499299818
3        00606   49.40174873446848
4        00610  32.553302132085285
5        00612  23.903138515623194
6        00616  31.508251247281567
7        00617  26.292741451709656
8        00622   36.00437078856311
9        00623   28.94425875282758
10       00624  27.634401612169277
11       00627   28.55199648968846
12       00631  42.489626556016596
13       00637  27.791411042944787
14       00638   32.58158209465232
15       00641  28.878148053930296
16       00646   21.90152137353827
17       00647   31.72613307618129
18       00650  23.870100320612266
19       00652  24.574209245742093
20       00653   32.92792216105492
21       00656  27.158732542423785
22       00659   30.60570154039172
23       00660   26.19502868068834
24       00662   29.59939112986923
25       00664  26.492167360697998
26       00667  38.426007133251474
27       00669   39.20260374288039
28       00670  43.946188340807176
29       00674  29.213603308142023
...        ...                 ...
33069    99786  27.500000000000004
33070    99788  14.864864864864865
33071    99789   31.18811881188119
33072    99790                 0.0
33073    99791   30.58823529411765
33074    99801  3.9982699793358645
33075    99820  11.369509043927648
33076    99824  3.9687703318152243
33077    99825                 0.0
33078    99826   6.012658227848101
33079    99827    3.74414976599064
33080    99829  11.239669421487603
33081    99830   12.44131455399061
33082    99832  24.390243902439025
33083    99833  10.463515374024782
33084    99835    6.46887159533074
33085    99836                 0.0
33086    99840   7.599517490952954
33087    99841                 0.0
33088    99901   8.086847073631215
33089    99903                 0.0
33090    99918  11.801242236024844
33091    99919   7.072691552062868
33092    99921   9.632352941176471
33093    99922  12.871287128712872
33094    99923                 NaN
33095    99925  14.683153013910355
33096    99926    8.16326530612245
33097    99927                 0.0
33098    99929   11.15949918345128

[33099 rows x 2 columns]

In [ ]:
zip_data_df.sort_values(by='Poverty Rate', ascending=False)

In [ ]:
zip_data_df.columns

In [ ]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [ ]:
# household income vs total no hs diploma scatter plot

# convert columns to float for processing
zip_data_df["Median Age"] = zip_data_df["Median Age"].astype(float)
zip_data_df["Household Income"] = zip_data_df["Household Income"].astype(float)
zip_data_df["Per Capita Income"] = zip_data_df["Per Capita Income"].astype(float)
zip_data_df["Poverty Count"] = zip_data_df["Poverty Count"].astype(float)
zip_data_df["Poverty Rate"] = zip_data_df["Poverty Rate"].astype(float)
zip_data_df["No HS Diploma Rate"] = zip_data_df["No HS Diploma Rate"].astype(float)
zip_data_df["HS Diploma Rate"] = zip_data_df["No HS Diploma Rate"].astype(float)
zip_data_df["College Degree Rate"] = zip_data_df["College Degree Rate"].astype(float)

zip_data_df = zip_data_df.dropna()

# create a new df containing all numeric columns
census_data_numeric = zip_data_df[["Median Age", "Household Income", "Per Capita Income", \
                                    "Poverty Rate", "No HS Diploma Rate", 'HS Diploma Rate', 'College Degree Rate']]

# seaborn pair plot
tqdm_notebook(sns.pairplot(census_data_numeric, kind="reg"))

In [ ]:
# heat map on correlation matrix
corr = census_data_numeric.corr()
ax = sns.heatmap(
    corr, 
    vmin=-1, vmax=1, center=0,
    cmap=sns.diverging_palette(20, 220, n=200),
    square=True
)
ax.set_xticklabels(
    ax.get_xticklabels(),
    rotation=45,
    horizontalalignment='right'
);

In [ ]:
sns.lmplot(y='Poverty Rate', x='College Degree Rate', data=census_data_numeric)

In [ ]:
ax = sns.regplot(x='HS Diploma Rate', y='Poverty Rate', data=census_data_numeric, ci=0)
fig = ax.get_figure()
fig.savefig('HS Rate vs Poverty Rate')

In [ ]:
census_data_numeric['HS Diploma Rate']

In [ ]:
sns.lmplot(y='Poverty Rate', x='No HS Diploma Rate', data=census_data_numeric)

In [ ]:
import seaborn as sns
#ax = sns.boxplot(y="Household Income", data=zip_data_df)
ax = sns.boxplot(y="Poverty Rate", data=zip_data_df)

In [ ]:
census_data_numeric.head()

In [ ]:
zip_data = "Project1_Zipcode_Data.csv"
zip_data_df = pd.read_csv(zip_data, dtype=str, low_memory=False)

In [ ]:
zip_data_df.head()

In [ ]:
West_Virginia_Poverty_Rate = zip_data_df.loc[zip_data_df['state_id'] == 'WV']
West_Virginia_Poverty_Rate = West_Virginia_Poverty_Rate['Poverty Rate'].dropna().astype(float)

In [ ]:
West_Virginia_Poverty_Rate.describe()

In [ ]:
US_Poverty_Rate = zip_data_df.loc[zip_data_df['state_id'] != 'WV']
US_Poverty_Rate = zip_data_df['Poverty Rate'].dropna().astype(float)

In [ ]:
US_Poverty_Rate.describe()

In [ ]:
stats.ttest_ind(West_Virginia_Poverty_Rate, US_Poverty_Rate, equal_var=False)

In [ ]:
ax = sns.boxplot(y=West_Virginia_Poverty_Rate)

In [ ]:
ax = sns.boxplot(y=US_Poverty_Rate)