In [1]:
from uszipcode import SearchEngine
import pandas as pd
import requests
import json
import pprint as pprint
from tqdm import tqdm_notebook
from config import gkey
import gmaps

In [2]:
#result = search.by_prefix(900)
#grab = result.to_dict()

In [3]:
#result

In [4]:
#test = result[1].to_dict()

In [5]:
#test

In [6]:
Project1_Data = "Project1_Data.csv"
Project1_Data_df = pd.read_csv(Project1_Data, dtype=str, low_memory=False)

In [7]:
zipcode = Project1_Data_df['Zip Code']

In [8]:
zipcode_df = pd.DataFrame(zipcode)

In [9]:
#zipcode_df = zipcode_df.head(500)

In [10]:
zipcode_df['City'] = ''
zipcode_df['Lat'] = ''
zipcode_df['Lng'] = ''
zipcode_df['Median Income'] = ''
zipcode_df['Population'] = ''
zipcode_df['Less Than High School Diploma'] = ''
zipcode_df['High School Graduate'] = ''
zipcode_df['Associate\'s Degree'] = ''
zipcode_df['Bachelor\'s Degree'] = ''
zipcode_df['Master\'s Degree'] = ''
zipcode_df['Professional School Degree'] = ''
zipcode_df['Doctorate Degree'] = ''
zipcode_df['Total Degrees'] = ''

In [31]:
search = SearchEngine(simple_zipcode=False)
for index, row in tqdm_notebook(list(zipcode_df.iterrows())):
#for zipcode in tqdm_notebook(zipcode):
    zipc = row['Zip Code'] 
    result = search.by_zipcode(zipc)
    grab = result.to_dict()
    zipcode_df.loc[index, 'City'] = grab['major_city']
    zipcode_df.loc[index, 'Lng'] = grab['lng']
    zipcode_df.loc[index, 'Lat'] = grab['lat']
    zipcode_df.loc[index, 'Median Income'] = grab['median_household_income']
    zipcode_df.loc[index, 'Population'] = grab['population']
    hold = grab['educational_attainment_for_population_25_and_over']
    
    try:
        zipcode_df.loc[index, 'Less Than High School Diploma'] = [d.get('values') for d in hold][0][0]['y']
        zipcode_df.loc[index, 'High School Graduate'] = [d.get('values') for d in hold][0][1]['y']
        zipcode_df.loc[index, 'Associate\'s Degree'] = [d.get('values') for d in hold][0][2]['y']
        zipcode_df.loc[index, 'Bachelor\'s Degree'] = [d.get('values') for d in hold][0][3]['y']
        zipcode_df.loc[index, 'Master\'s Degree'] = [d.get('values') for d in hold][0][4]['y']
        zipcode_df.loc[index, 'Professional School Degree'] = [d.get('values') for d in hold][0][5]['y']
        zipcode_df.loc[index, 'Doctorate Degree'] = [d.get('values') for d in hold][0][6]['y']
        zipcode_df.loc[index, 'Total Degrees'] = ([d.get('values') for d in hold][0][2]['y'] + [d.get('values') for d in hold][0][3]['y'] +\
                                                 [d.get('values') for d in hold][0][4]['y'] + [d.get('values') for d in hold][0][5]['y'] +\
                                                 [d.get('values') for d in hold][0][6]['y'])

    except (TypeError):
        zipcode_df.loc[index, 'Less Than High School Diploma'] = 0
        zipcode_df.loc[index, 'High School Graduate'] = 0
        zipcode_df.loc[index, 'Associate\'s Degree'] = 0
        zipcode_df.loc[index, 'Bachelor\'s Degree'] = 0
        zipcode_df.loc[index, 'Master\'s Degree'] = 0
        zipcode_df.loc[index, 'Professional School Degree'] = 0
        zipcode_df.loc[index, 'Doctorate Degree'] = 0

KeyboardInterrupt:

In [ ]:
zipcode_df

In [ ]:
zipcode_df.to_csv('Project1_Zipcode_Data.csv', index=False)

In [ ]:
# For new visuals code can be started from here, consider making this a new notebook.

In [24]:
zipcode_Data = "Project1_Zipcode_Data.csv"
zipcode_df = pd.read_csv(zipcode_Data, dtype=str, low_memory=False)

In [26]:
#generating map 

gmaps.configure(api_key=gkey)

In [27]:
zipcode_clean_df = zipcode_df.dropna()

In [28]:
zipcode_clean_df

,Zip Code,City,Lat,Lng,Median Income,Population,Less Than High School Diploma,High School Graduate,Associate's Degree,Bachelor's Degree,Master's Degree,Professional School Degree,Doctorate Degree,Total Degrees
131,01001,Agawam,42.07,-72.63,58733,16769,1059,6627,1584,1953,972,113,109,4731
132,01002,Amherst,42.38,-72.52,54422,29049,560,3149,510,3098,3099,492,1938,9137
134,01005,Barre,42.42,-72.12,68644,5079,296,2097,305,544,201,13,71,1134
135,01007,Belchertown,42.3,-72.4,71875,14649,665,4538,1009,2372,1145,147,250,4923
136,01008,Blandford,42.2,-73.0,71635,1263,41,471,87,151,67,3,16,324
137,01009,Bondsville,42.19,-72.31,38644,741,128,295,53,30,10,37,0,130
138,01010,Brimfield,42.15,-72.2,81196,3609,225,1060,265,870,241,13,23,1412
139,01011,Chester,42.3,-73.0,64891,1370,95,670,110,94,41,7,3,255
140,01012,Chesterfield,42.39,-72.84,58750,661,8,227,27,87,55,4,9,182
141,01013,Chicopee,42.16,-72.6,41273,23188,3044,8038,1185,1436,575,52,37,3285
142,01020,Chicopee,42.18,-72.56,51255,29668,3364,12547,2453,2888,1137,68,82,6628
143,01022,Chicopee,42.2,-72.56,58938,2451,178,913,248,275,273,0,0,796
144,01026,Cummington,42.48,-72.93,52155,946,30,368,91,166,104,28,9,398
145,01027,Easthampton,42.3,-72.7,59963,17660,1039,7021,1400,2372,1182,265,128,5347
146,01028,East Longmeadow,42.06,-72.5,80469,15720,598,5220,1127,2404,1313,450,96,5390
147,01029,East Otis,42.2,-73.09,54330,789,33,310,37,64,28,4,19,152
148,01030,Feeding Hills,42.07,-72.68,71228,11669,584,4114,1026,1343,705,155,97,3326
149,01031,Gilbertville,42.34,-72.17,42404,1308,141,611,50,110,65,72,0,297
150,01032,Goshen,42.45,-72.83,61806,570,18,215,71,82,81,0,3,237
151,01033,Granby,42.26,-72.5,73816,6227,362,2447,472,694,447,122,21,1756
152,01034,Granville,42.1,-73.0,77500,2021,86,791,128,352,125,28,15,648
153,01035,Hadley,42.36,-72.59,73250,5250,208,1479,367,1048,524,151,134,2224
154,01036,Hampden,42.07,-72.42,81130,5109,224,1680,522,672,455,110,44,1803
155,01037,Hardwick,42.38,-72.19,84444,838,21,205,20,75,102,37,0,234
156,01038,Hatfield,42.39,-72.61,61603,2545,75,915,274,481,277,61,39,1132
157,01039,Haydenville,42.37,-72.7,72188,1336,78,506,88,330,170,35,39,662
158,01040,Holyoke,42.22,-72.64,31628,39880,6719,12206,1850,3438,1346,308,163,7105
159,01050,Huntington,42.3,-72.9,56184,2530,98,1092,148,203,145,9,20,525
160,01053,Leeds,42.35,-72.71,64896,1685,232,670,63,236,231,28,50,608
161,01054,Leverett,42.47,-72.49,73000,1851,80,312,82,313,283,78,185,941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33089,99785,Brevig Mission,66.0,-167.0,34125,388,37,120,4,4,3,0,0,11
33090,99786,Ambler,67.08,-157.86,38750,259,32,102,5,4,2,0,0,11
33091,99788,Chalkyitsik,66.0,-143.0,38750,69,4,23,1,2,2,0,0,5
33092,99789,Nuiqsut,70.22,-150.99,94375,402,52,124,4,7,5,0,4,20
33093,99790,Fairbanks,64.846,-147.722,50833,20,0,40,1,2,0,0,0,3
33094,99791,Atqasuk,70.0,-158.0,60000,237,39,81,4,6,4,0,0,14
33095,99801,Juneau,58.0,-134.0,82993,29164,883,10469,1413,4393,2100,631,194,8731
33096,99820,Angoon,58.0,-134.0,32857,479,58,197,7,32,29,4,0,72
33097,99824,Douglas,58.25,-134.39,62721,2111,100,703,124,453,120,42,8,747
33098,99825,Elfin Cove,58.18,-136.32,34167,120,0,49,6,11,0,0,0,17
33099,99826,Gustavus,59.0,-137.0,52188,442,12,178,43,120,73,21,0,257
33100,99827,Haines,59.0,-135.0,52848,2602,81,1232,100,455,109,27,19,710
33101,99829,Hoonah,58.0,-135.7,48750,777,90,322,47,52,17,2,0,118
33102,99830,Kake,56.8,-133.5,38750,561,45,203,23,26,31,2,0,82
33103,99832,Pelican,57.96,-136.22,73750,104,4,32,0,10,3,0,0,13
33104,99833,Petersburg,57.0,-133.0,68646,3202,70,1405,235,437,153,20,25,870
33105,99835,Sitka,57.0,-136.0,69405,8880,536,3028,448,1294,599,84,103,2528
33106,99836,Port Alexander,56.22,-134.64,56250,52,0,15,6,0,0,0,0,6
33107,99840,Skagway,59.6,-135.4,71667,968,38,538,27,154,36,0,4,221
33108,99841,Tenakee Springs,57.775,-135.201,62813,133,8,46,2,24,4,0,0,30
33109,99901,Ketchikan,55.6,-131.4,62519,13508,597,5634,661,1605,527,146,60,2999
33111,99918,Coffman Cove,56.01,-132.83,24844,231,8,97,6,8,0,0,0,14
33112,99919,Thorne Bay,55.6,-132.4,49050,531,11,224,19,80,38,0,6,143
33113,99921,Craig,55.49,-133.13,54554,1920,107,907,94,210,72,8,1,385
33114,99922,Hydaburg,55.2,-132.9,37361,384,35,189,1,10,6,0,0,17
33115,99923,Hyder,56.0,-131.0,21944,87,4,24,9,44,0,0,0,53
33116,99925,Klawock,55.55,-133.08,38125,819,78,365,7,11,7,0,4,29
33117,99926,Metlakatla,55.1,-131.4,50052,1460,92,765,38,50,31,4,5,128
33118,99927,Point Baker,56.352,-133.629,19000,94,9,97,0,5,0,0,0,5
33119,99929,Wrangell,56.0,-132.0,45649,2338,195,1193,92,242,52,5,2,393

In [29]:
locations = zipcode_clean_df[["Lat","Lng"]].astype(float)

# Convert to float and store

locations = zipcode_clean_df[["Lat","Lng"]].astype(float)
median = zipcode_clean_df["Median Income"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations,weights=median)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
locations = zipcode_clean_df[["Lat","Lng"]].astype(float)

# Convert to float and store

locations = zipcode_clean_df[["Lat","Lng"]].astype(float)
median = zipcode_clean_df["Total Degrees"].astype(float)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations,weights=median)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))