In [1]:
from uszipcode import SearchEngine
import pandas as pd
import requests
import json
import pprint as pprint
from tqdm import tqdm_notebook
from config import gkey
import gmaps

In [2]:
Project1_Data = "Project1_Data.csv"
Project1_Data_df = pd.read_csv(Project1_Data, dtype=str, low_memory=False)

In [3]:
zipcode = Project1_Data_df['Zip Code']

In [4]:
zipcode_df = pd.DataFrame(zipcode)

In [5]:
zipcode_df = zipcode_df.head(500)

In [6]:
zipcode_df['City'] = ''
zipcode_df['Lat'] = ''
zipcode_df['Lng'] = ''
zipcode_df['Median Income'] = ''
zipcode_df['Population'] = ''
zipcode_df['Less Than High School Diploma'] = ''
zipcode_df['High School Graduate'] = ''
zipcode_df['Associate\'s Degree'] = ''
zipcode_df['Bachelor\'s Degree'] = ''
zipcode_df['Master\'s Degree'] = ''
zipcode_df['Professional School Degree'] = ''
zipcode_df['Doctorate Degree'] = ''

In [7]:
search = SearchEngine(simple_zipcode=False)
for index, row in tqdm_notebook(list(zipcode_df.iterrows())):
#for zipcode in tqdm_notebook(zipcode):
    zipc = row['Zip Code'] 
    result = search.by_zipcode(zipc)
    grab = result.to_dict()
    zipcode_df.loc[index, 'City'] = grab['major_city']
    zipcode_df.loc[index, 'Lng'] = grab['lng']
    zipcode_df.loc[index, 'Lat'] = grab['lat']
    zipcode_df.loc[index, 'Median Income'] = grab['median_household_income']
    zipcode_df.loc[index, 'Population'] = grab['population']
    hold = grab['educational_attainment_for_population_25_and_over']
    
    try:
        zipcode_df.loc[index, 'Less Than High School Diploma'] = [d.get('values') for d in hold][0][0]['y']
        zipcode_df.loc[index, 'High School Graduate'] = [d.get('values') for d in hold][0][1]['y']
        zipcode_df.loc[index, 'Associate\'s Degree'] = [d.get('values') for d in hold][0][2]['y']
        zipcode_df.loc[index, 'Bachelor\'s Degree'] = [d.get('values') for d in hold][0][3]['y']
        zipcode_df.loc[index, 'Master\'s Degree'] = [d.get('values') for d in hold][0][4]['y']
        zipcode_df.loc[index, 'Professional School Degree'] = [d.get('values') for d in hold][0][5]['y']
        zipcode_df.loc[index, 'Doctorate Degree'] = [d.get('values') for d in hold][0][6]['y']
        
    except (TypeError):
        zipcode_df.loc[index, 'Less Than High School Diploma'] = 0
        zipcode_df.loc[index, 'High School Graduate'] = 0
        zipcode_df.loc[index, 'Associate\'s Degree'] = 0
        zipcode_df.loc[index, 'Bachelor\'s Degree'] = 0
        zipcode_df.loc[index, 'Master\'s Degree'] = 0
        zipcode_df.loc[index, 'Professional School Degree'] = 0
        zipcode_df.loc[index, 'Doctorate Degree'] = 0

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

In [8]:
#generating map 

gmaps.configure(api_key=gkey)

In [9]:
zipcode_clean_df = zipcode_df.dropna()

In [10]:
zipcode_clean_df

,Zip Code,City,Lat,Lng,Median Income,Population,Less Than High School Diploma,High School Graduate,Associate's Degree,Bachelor's Degree,Master's Degree,Professional School Degree,Doctorate Degree
131,01001,Agawam,42.07,-72.63,58733,16769,1059,6627,1584,1953,972,113,109
132,01002,Amherst,42.38,-72.52,54422,29049,560,3149,510,3098,3099,492,1938
134,01005,Barre,42.42,-72.12,68644,5079,296,2097,305,544,201,13,71
135,01007,Belchertown,42.3,-72.4,71875,14649,665,4538,1009,2372,1145,147,250
136,01008,Blandford,42.2,-73,71635,1263,41,471,87,151,67,3,16
137,01009,Bondsville,42.19,-72.31,38644,741,128,295,53,30,10,37,0
138,01010,Brimfield,42.15,-72.2,81196,3609,225,1060,265,870,241,13,23
139,01011,Chester,42.3,-73,64891,1370,95,670,110,94,41,7,3
140,01012,Chesterfield,42.39,-72.84,58750,661,8,227,27,87,55,4,9
141,01013,Chicopee,42.16,-72.6,41273,23188,3044,8038,1185,1436,575,52,37
142,01020,Chicopee,42.18,-72.56,51255,29668,3364,12547,2453,2888,1137,68,82
143,01022,Chicopee,42.2,-72.56,58938,2451,178,913,248,275,273,0,0
144,01026,Cummington,42.48,-72.93,52155,946,30,368,91,166,104,28,9
145,01027,Easthampton,42.3,-72.7,59963,17660,1039,7021,1400,2372,1182,265,128
146,01028,East Longmeadow,42.06,-72.5,80469,15720,598,5220,1127,2404,1313,450,96
147,01029,East Otis,42.2,-73.09,54330,789,33,310,37,64,28,4,19
148,01030,Feeding Hills,42.07,-72.68,71228,11669,584,4114,1026,1343,705,155,97
149,01031,Gilbertville,42.34,-72.17,42404,1308,141,611,50,110,65,72,0
150,01032,Goshen,42.45,-72.83,61806,570,18,215,71,82,81,0,3
151,01033,Granby,42.26,-72.5,73816,6227,362,2447,472,694,447,122,21
152,01034,Granville,42.1,-73,77500,2021,86,791,128,352,125,28,15
153,01035,Hadley,42.36,-72.59,73250,5250,208,1479,367,1048,524,151,134
154,01036,Hampden,42.07,-72.42,81130,5109,224,1680,522,672,455,110,44
155,01037,Hardwick,42.38,-72.19,84444,838,21,205,20,75,102,37,0
156,01038,Hatfield,42.39,-72.61,61603,2545,75,915,274,481,277,61,39
157,01039,Haydenville,42.37,-72.7,72188,1336,78,506,88,330,170,35,39
158,01040,Holyoke,42.22,-72.64,31628,39880,6719,12206,1850,3438,1346,308,163
159,01050,Huntington,42.3,-72.9,56184,2530,98,1092,148,203,145,9,20
160,01053,Leeds,42.35,-72.71,64896,1685,232,670,63,236,231,28,50
161,01054,Leverett,42.47,-72.49,73000,1851,80,312,82,313,283,78,185
...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,02118,Boston,42.34,-71.07,54152,26498,3342,4658,606,5583,3024,1701,1085
471,02119,Roxbury,42.32,-71.08,27180,25346,3640,7280,891,2149,1018,190,135
472,02120,Roxbury Crossing,42.33,-71.1,35077,15181,1185,2338,275,1155,444,247,223
473,02121,Dorchester,42.31,-71.08,28238,25978,3929,9105,896,1474,703,97,19
474,02122,Dorchester,42.29,-71.05,50192,23479,3695,8281,723,2438,785,131,76
475,02124,Dorchester Center,42.29,-71.07,48841,47783,6167,17044,2699,4220,1751,343,364
476,02125,Dorchester,42.32,-71,45130,33295,4499,9062,1249,4175,1896,412,198
477,02126,Mattapan,42.28,-71.09,45238,25562,4202,10555,1149,1860,649,169,98
478,02127,Boston,42.33,-71.04,68724,31799,2471,8282,873,9783,3120,619,250
479,02128,Boston,42.37,-71.02,48704,40508,9835,13897,1182,3916,1471,264,114
480,02129,Charlestown,42.38,-71.06,86346,16439,1392,3485,467,4536,2314,875,289
481,02130,Jamaica Plain,42.31,-71.12,75730,35401,2194,7133,809,7832,6125,1973,1799
482,02131,Roslindale,42.28,-71.12,66735,29826,2869,8945,1266,4941,3006,502,596
483,02132,West Roxbury,42.28,-71.16,83360,25861,1066,7935,1091,5614,3659,672,655
484,02134,Allston,42.36,-71.13,37820,21503,1628,3550,228,4094,1371,382,303
485,02135,Brighton,42.35,-71.15,48687,42780,2242,7039,875,8527,4279,980,1112
486,02136,Hyde Park,42.25,-71.13,58890,28488,2323,10385,1787,3077,1425,250,143
487,02138,Cambridge,42.38,-71.13,75446,36314,450,2465,405,6968,6604,1887,3404
488,02139,Cambridge,42.36,-71.1,71745,36349,2000,4736,556,7334,5907,1521,2973
489,02140,Cambridge,42.39,-71.13,71908,17607,907,3121,563,3659,3407,747,1316
490,02141,Cambridge,42.37,-71.08,64326,11910,1172,2467,207,2637,1737,487,837
491,02142,Cambridge,42.36,-71.08,100114,3141,18,81,43,669,661,203,306
492,02143,Somerville,42.38,-71.1,68440,24514,2080,5338,757,5712,3684,748,1311
493,02144,Somerville,42.4,-71.12,78380,23891,1210,4003,675,5640,4151,717,1182
494,02145,Somerville,42.39,-71.09,55487,25439,3059,7874,776,3508,1687,292,413
495,02148,Malden,42.43,-71.05,53798,59503,6144,19608,2693,7877,3804,802,818
496,02149,Everett,42.41,-71.05,49368,41550,5990,17138,1403,3371,881,178,104
497,02150,Chelsea,42.4,-71.03,47291,35124,8354,9902,1158,2071,901,475,128
498,02151,Revere,42.42,-71,51863,51808,7138,21191,2365,5109,1417,351,182
499,02152,Winthrop,42.37,-70.97,64548,17497,749,6631,1288,3303,1146,321,65

In [16]:
locations = zipcode_clean_df[["Lat","Lng"]].astype(float)



# Convert to float and store

locations = zipcode_clean_df[["Lat","Lng"]].astype(float)
median = zipcode_clean_df["Median Income"].astype(float)
LHSG = zipcode_clean_df["Less Than High School Diploma"].astype(int)
HSG = zipcode_clean_df["High School Graduate"].astype(int)
AD = zipcode_clean_df["Associate's Degree"].astype(int)


fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations,weights=median,opacity=.5)
heat_layer1 = gmaps.heatmap_layer(locations,weights=HSG,opacity=.1,max_intensity = 10,point_radius = 2)
heat_layer2 = gmaps.heatmap_layer(locations,weights=LHSG,opacity=.1,max_intensity = 10,point_radius = 2)
heat_layer3 = gmaps.heatmap_layer(locations,weights=AD,opacity=.1,max_intensity = 10,point_radius = 2)                            



fig.add_layer(heat_layer)
fig.add_layer(heat_layer1)
fig.add_layer(heat_layer2)
fig.add_layer(heat_layer3)
fig

Figure(layout=FigureLayout(height='420px'))