In [1]:
from uszipcode import SearchEngine
import pandas as pd
import requests
import json
import pprint as pprint
from tqdm import tqdm_notebook
from config import gkey
import gmaps

In [2]:
search = SearchEngine(simple_zipcode=False)
result = search.by_zipcode('77406')
test3 = result.to_dict()

In [3]:
type(test3['educational_attainment_for_population_25_and_over'])

list

In [4]:
data = test3['educational_attainment_for_population_25_and_over']

In [5]:
data

[{'key': 'Data',
  'values': [{'x': 'Less Than High School Diploma', 'y': 1577},
   {'x': 'High School Graduate', 'y': 10530},
   {'x': "Associate's Degree", 'y': 1903},
   {'x': "Bachelor's Degree", 'y': 6928},
   {'x': "Master's Degree", 'y': 2269},
   {'x': 'Professional School Degree', 'y': 460},
   {'x': 'Doctorate Degree', 'y': 253}]}]

In [6]:
type(data)

list

In [7]:
data

[{'key': 'Data',
  'values': [{'x': 'Less Than High School Diploma', 'y': 1577},
   {'x': 'High School Graduate', 'y': 10530},
   {'x': "Associate's Degree", 'y': 1903},
   {'x': "Bachelor's Degree", 'y': 6928},
   {'x': "Master's Degree", 'y': 2269},
   {'x': 'Professional School Degree', 'y': 460},
   {'x': 'Doctorate Degree', 'y': 253}]}]

In [8]:
NewDict = {}  # Initialize a new dictionary
for listItem in data:
	for key, value in listItem.items():  # Loop through all dictionary elements in the list
		if key in list(NewDict):  # if the key already exists, append to new
			for entry in value:
				NewDict[key].append(entry)
		else:  # if it's a new key, simply add to the new dictionary
			NewDict[key] = value
df = pd.DataFrame.from_dict(NewDict)  # Finally, create the DataFrame from the dictionary
print(df)

    key                                             values
0  Data  {'x': 'Less Than High School Diploma', 'y': 1577}
1  Data          {'x': 'High School Graduate', 'y': 10530}
2  Data             {'x': 'Associate's Degree', 'y': 1903}
3  Data              {'x': 'Bachelor's Degree', 'y': 6928}
4  Data                {'x': 'Master's Degree', 'y': 2269}
5  Data      {'x': 'Professional School Degree', 'y': 460}
6  Data                {'x': 'Doctorate Degree', 'y': 253}

In [9]:
Project1_Data = "Project1_Data.csv"
Project1_Data_df = pd.read_csv(Project1_Data, dtype=str, low_memory=False)

In [10]:
zipcode = Project1_Data_df['Zip Code']

In [11]:
zipcode_df = pd.DataFrame(zipcode)

In [12]:
zipcode_df.head()

  Zip Code
0    00601
1    00602
2    00603
3    00606
4    00610

In [13]:
zipcode_df['City'] = ''
zipcode_df['Lat'] = ''
zipcode_df['Lng'] = ''
zipcode_df['Median Income'] = ''
zipcode_df['Population'] = ''

In [14]:
zipcode_df.head()

  Zip Code City Lat Lng Median Income Population
0    00601
1    00602
2    00603
3    00606
4    00610

In [15]:
search = SearchEngine(simple_zipcode=False)
for index, row in tqdm_notebook(list(zipcode_df.iterrows())):
#for zipcode in tqdm_notebook(zipcode):
    zipc = row['Zip Code'] 
    result = search.by_zipcode(zipc)
    grab = result.to_dict()
    zipcode_df.loc[index, 'City'] = grab['major_city']
    zipcode_df.loc[index, 'Lng'] = grab['lng']
    zipcode_df.loc[index, 'Lat'] = grab['lat']
    zipcode_df.loc[index, 'Median Income'] = grab['median_household_income']
    zipcode_df.loc[index, 'Population'] = grab['population']

HBox(children=(IntProgress(value=0, max=33120), HTML(value='')))

In [16]:
zipcode_df

      Zip Code             City     Lat      Lng Median Income Population
0        00601         Adjuntas    None     None          None       None
1        00602           Aguada   18.36   -67.18          None      41520
2        00603        Aguadilla   18.45   -67.11          None      54689
3        00606          Maricao    18.2    -66.9          None       6615
4        00610           Anasco   18.28   -67.13          None      29016
5        00612          Arecibo    18.4   -66.68          None      67010
6        00616         Bajadero    18.4   -66.68          None      11017
7        00617      Barceloneta   18.44   -66.56          None      24597
8        00622         Boqueron      18   -67.16          None       7853
9        00623        Cabo Rojo    18.1    -67.2          None      43061
10       00624         Penuelas    None     None          None       None
11       00627            Camuy   18.42   -66.86          None      35159
12       00631         Castaner    None     None          None       None
13       00637    Sabana Grande    None     None          None       None
14       00638           Ciales    18.3    -66.5          None      18941
15       00641           Utuado    18.2    -66.7          None      31191
16       00646           Dorado    None     None          None       None
17       00647         Ensenada   17.98   -66.92          None       6172
18       00650          Florida   18.38   -66.56          None      14998
19       00652      Garrochales   18.46   -66.64          None       4715
20       00653          Guanica   17.98   -66.92          None      13307
21       00656       Guayanilla   18.04   -66.79          None      21481
22       00659          Hatillo   18.41    -66.8          None      41953
23       00660      Hormigueros   18.13   -67.12          None      17250
24       00662          Isabela    None     None          None       None
25       00664           Jayuya   18.23   -66.59          None      16784
26       00667            Lajas    None     None          None       None
27       00669            Lares    18.3    -66.9          None      29744
28       00670       Las Marias   18.24   -66.99          None       9807
29       00674           Manati   18.42   -66.49          None      44457
...        ...              ...     ...      ...           ...        ...
33090    99786           Ambler   67.08  -157.86         38750        259
33091    99788      Chalkyitsik      66     -143         38750         69
33092    99789          Nuiqsut   70.22  -150.99         94375        402
33093    99790        Fairbanks  64.846 -147.722         50833         20
33094    99791          Atqasuk      70     -158         60000        237
33095    99801           Juneau      58     -134         82993      29164
33096    99820           Angoon      58     -134         32857        479
33097    99824          Douglas   58.25  -134.39         62721       2111
33098    99825       Elfin Cove   58.18  -136.32         34167        120
33099    99826         Gustavus      59     -137         52188        442
33100    99827           Haines      59     -135         52848       2602
33101    99829           Hoonah      58   -135.7         48750        777
33102    99830             Kake    56.8   -133.5         38750        561
33103    99832          Pelican   57.96  -136.22         73750        104
33104    99833       Petersburg      57     -133         68646       3202
33105    99835            Sitka      57     -136         69405       8880
33106    99836   Port Alexander   56.22  -134.64         56250         52
33107    99840          Skagway    59.6   -135.4         71667        968
33108    99841  Tenakee Springs  57.775 -135.201         62813        133
33109    99901        Ketchikan    55.6   -131.4         62519      13508
33110    99903     Meyers Chuck      56   -131.5          None         31
33111    99918     Coffman Cove   56.01  -132.83         24844        231
33112    99919       Thorne Bay    55.6   -132.4         49050        531
33113    99921            Craig   55.49  -133.13         54554       1920
33114    99922         Hydaburg    55.2   -132.9         37361        384
33115    99923            Hyder      56     -131         21944         87
33116    99925          Klawock   55.55  -133.08         38125        819
33117    99926       Metlakatla    55.1   -131.4         50052       1460
33118    99927      Point Baker  56.352 -133.629         19000         94
33119    99929         Wrangell      56     -132         45649       2338

[33120 rows x 6 columns]

In [17]:
#generating map 

gmaps.configure(api_key=gkey)

In [18]:
zipcode_clean_df = zipcode_df.dropna()

In [19]:
zipcode_clean_df

      Zip Code             City     Lat      Lng Median Income Population
131      01001           Agawam   42.07   -72.63         58733      16769
132      01002          Amherst   42.38   -72.52         54422      29049
134      01005            Barre   42.42   -72.12         68644       5079
135      01007      Belchertown    42.3    -72.4         71875      14649
136      01008        Blandford    42.2      -73         71635       1263
137      01009       Bondsville   42.19   -72.31         38644        741
138      01010        Brimfield   42.15    -72.2         81196       3609
139      01011          Chester    42.3      -73         64891       1370
140      01012     Chesterfield   42.39   -72.84         58750        661
141      01013         Chicopee   42.16    -72.6         41273      23188
142      01020         Chicopee   42.18   -72.56         51255      29668
143      01022         Chicopee    42.2   -72.56         58938       2451
144      01026       Cummington   42.48   -72.93         52155        946
145      01027      Easthampton    42.3    -72.7         59963      17660
146      01028  East Longmeadow   42.06    -72.5         80469      15720
147      01029        East Otis    42.2   -73.09         54330        789
148      01030    Feeding Hills   42.07   -72.68         71228      11669
149      01031     Gilbertville   42.34   -72.17         42404       1308
150      01032           Goshen   42.45   -72.83         61806        570
151      01033           Granby   42.26    -72.5         73816       6227
152      01034        Granville    42.1      -73         77500       2021
153      01035           Hadley   42.36   -72.59         73250       5250
154      01036          Hampden   42.07   -72.42         81130       5109
155      01037         Hardwick   42.38   -72.19         84444        838
156      01038         Hatfield   42.39   -72.61         61603       2545
157      01039      Haydenville   42.37    -72.7         72188       1336
158      01040          Holyoke   42.22   -72.64         31628      39880
159      01050       Huntington    42.3    -72.9         56184       2530
160      01053            Leeds   42.35   -72.71         64896       1685
161      01054         Leverett   42.47   -72.49         73000       1851
...        ...              ...     ...      ...           ...        ...
33089    99785   Brevig Mission      66     -167         34125        388
33090    99786           Ambler   67.08  -157.86         38750        259
33091    99788      Chalkyitsik      66     -143         38750         69
33092    99789          Nuiqsut   70.22  -150.99         94375        402
33093    99790        Fairbanks  64.846 -147.722         50833         20
33094    99791          Atqasuk      70     -158         60000        237
33095    99801           Juneau      58     -134         82993      29164
33096    99820           Angoon      58     -134         32857        479
33097    99824          Douglas   58.25  -134.39         62721       2111
33098    99825       Elfin Cove   58.18  -136.32         34167        120
33099    99826         Gustavus      59     -137         52188        442
33100    99827           Haines      59     -135         52848       2602
33101    99829           Hoonah      58   -135.7         48750        777
33102    99830             Kake    56.8   -133.5         38750        561
33103    99832          Pelican   57.96  -136.22         73750        104
33104    99833       Petersburg      57     -133         68646       3202
33105    99835            Sitka      57     -136         69405       8880
33106    99836   Port Alexander   56.22  -134.64         56250         52
33107    99840          Skagway    59.6   -135.4         71667        968
33108    99841  Tenakee Springs  57.775 -135.201         62813        133
33109    99901        Ketchikan    55.6   -131.4         62519      13508
33111    99918     Coffman Cove   56.01  -132.83         24844        231
33112    99919       Thorne Bay    55.6   -132.4         49050        531
33113    99921            Craig   55.49  -133.13         54554       1920
33114    99922         Hydaburg    55.2   -132.9         37361        384
33115    99923            Hyder      56     -131         21944         87
33116    99925          Klawock   55.55  -133.08         38125        819
33117    99926       Metlakatla    55.1   -131.4         50052       1460
33118    99927      Point Baker  56.352 -133.629         19000         94
33119    99929         Wrangell      56     -132         45649       2338

[31859 rows x 6 columns]

In [39]:
locations = zipcode_clean_df[["Lat","Lng"]].astype(float)



# Convert to float and store

locations = zipcode_clean_df[["Lat","Lng"]].astype(float)
median = zipcode_clean_df["Median Income"].astype(float)


fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations,weights=median)



fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))