In [1]:
import pandas as pd
from uszipcode import SearchEngine
import pandas as pd
import requests
import json
import pprint as pprint
from tqdm import tqdm_notebook
from config import gkey
import gmaps
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import geoplot as gplt
import geoplot.crs as gcrs

import geopandas as gpd

In [2]:
zip_data = "Project1_Zipcode_Data.csv"
zip_data_df = pd.read_csv(zip_data, dtype=str, low_memory=False)

In [3]:
zip_data_df.head()

,Zip Code,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Total No HS Diploma,No High School Diploma Rate,Total HS Diploma,...,Widowed,Widowed Rate,Divorced,Divorced Rate,Over 15 Marital Status,lat,lng,city,state_id,state_name
0,01001,17537.0,45.8,57694.0,33135.0,1557.0,8.878371443234304,1167,8.736337775116034,3779,...,1425,9.554140127388536,2036,13.650687227623198,14915.0,42.06258,-72.6259,Agawam,MA,Massachusetts
1,01002,30280.0,23.6,52379.0,27657.0,7851.0,25.928005284015853,633,4.591281642126641,1684,...,846,3.112468268275634,1478,5.437621868216769,27181.0,42.37492,-72.4621,Amherst,MA,Massachusetts
2,01003,11131.0,19.9,2499.0,4370.0,57.0,0.5120833707663283,26,19.11764705882353,13,...,0,0.0,10,0.0898391878537418,11131.0,42.39192,-72.52479,Amherst,MA,Massachusetts
3,01005,5014.0,45.4,70325.0,35334.0,307.0,6.122856003191065,123,3.516295025728988,1270,...,134,3.152941176470588,764,17.976470588235294,4250.0,42.42018,-72.10615,Barre,MA,Massachusetts
4,01007,14906.0,43.8,86165.0,39308.0,855.0,5.735945256943513,644,6.400318028225005,2407,...,442,3.5862068965517238,1331,10.79918864097363,12325.0,42.27875,-72.40036,Belchertown,MA,Massachusetts

In [4]:
zip_data_df["Household Income"]=zip_data_df["Household Income"].astype(float)

zip_data_df["Population"]=zip_data_df["Population"].astype(float)
zip_data_df["Poverty Count"]=zip_data_df["Poverty Count"].astype(float)

zip_data_df["Total No HS Diploma"]=zip_data_df["Total No HS Diploma"].astype(int)
zip_data_df["No High School Diploma Rate"]=zip_data_df["No High School Diploma Rate"].astype(float)

zip_data_df["Total HS Diploma"]=zip_data_df["Total No HS Diploma"].astype(int)
zip_data_df["HS Diploma Rate"]=zip_data_df["HS Diploma Rate"].astype(float)

zip_data_df["Total Some College"]=zip_data_df["Total Some College"].astype(int)
zip_data_df["Some College Rate"]=zip_data_df["Some College Rate"].astype(float)

zip_data_df["Total College Degree"]=zip_data_df["Total Some College"].astype(int)
zip_data_df["College Degree Rate"]=zip_data_df["College Degree Rate"].astype(float)


zip_data_df["Total educational attainment over 25"]=zip_data_df["Total educational attainment over 25"].astype(float)

zip_data_df["Never Married"]=zip_data_df["Never Married"].astype(int)
zip_data_df["Never Married Rate"]=zip_data_df["Never Married Rate"].astype(float)


zip_data_df["Married"]=zip_data_df["Married"].astype(int)
zip_data_df["Married Rate"]=zip_data_df["Married Rate"].astype(float)


zip_data_df["Widowed"]=zip_data_df["Widowed"].astype(int)
zip_data_df["Widowed Rate"]=zip_data_df["Widowed Rate"].astype(float)

zip_data_df["Divorced"]=zip_data_df["Divorced"].astype(int)
zip_data_df["Divorced Rate"]=zip_data_df["Divorced Rate"].astype(float)

In [5]:
zip_data_df.dtypes

Zip Code                                 object
Population                              float64
Median Age                               object
Household Income                        float64
Per Capita Income                        object
Poverty Count                           float64
Poverty Rate                             object
Total No HS Diploma                       int32
No High School Diploma Rate             float64
Total HS Diploma                          int32
HS Diploma Rate                         float64
Total Some College                        int32
Some College Rate                       float64
Total College Degrees                    object
College Degree Rate                     float64
Total educational attainment over 25    float64
Never Married                             int32
Never Married Rate                      float64
Married                                   int32
Married Rate                            float64
Widowed                                   int32
Widowed Rate                            float64
Divorced                                  int32
Divorced Rate                           float64
Over 15 Marital Status                   object
lat                                      object
lng                                      object
city                                     object
state_id                                 object
state_name                               object
Total College Degree                      int32
dtype: object

In [6]:
zip_data_df=zip_data_df.dropna()

In [7]:
import gmaps.geojson_geometries
gmaps.configure(api_key=gkey)

gmaps.geojson_geometries.list_geometries()
['us-states',
'us-counties',
'countries-high-resolution']
gmaps.geojson_geometries.geometry_metadata('us-states')
USA_geojson = gmaps.geojson_geometries.load_geometry('us-states')

fig = gmaps.figure()

In [10]:
locations = zip_data_df[["lat","lng"]].astype(float)

# Convert to float and store

locations = zip_data_df[["lat","lng"]].astype(float)
poverty_rate= zip_data_df["Poverty Rate"]
income = zip_data_df["Household Income"]
No_HS= zip_data_df["No High School Diploma Rate"]
HS = zip_data_df["HS Diploma Rate"]
college = zip_data_df["College Degree Rate"]


heat_layer = gmaps.heatmap_layer(locations,weights=income,point_radius=5,max_intensity = 90)


#Poverty Rate 
geojson_layer = gmaps.geojson_layer(USA_geojson,fill_opacity=.02)


fig.add_layer(heat_layer)
fig.add_layer(geojson_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Income
heat_layer1 = gmaps.heatmap_layer(locations,weights=income,point_radius = 10,max_intensity = 100)
                              
geojson_layer1 = gmaps.geojson_layer(USA_geojson,fill_opacity=0.02)
fig.add_layer(geojson_layer1)
fig.add_layer(heat_layer1)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#No high school 
heat_layer2 = gmaps.heatmap_layer(locations,weights=No_HS ,point_radius = 1,max_intensity = 100)
geojson_layer2 = gmaps.geojson_layer(USA_geojson,fill_opacity=0.02)

fig.add_layer(heat_layer2)
fig.add_layer(geojson_layer2)
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#HS Diploma 
heat_layer3 = gmaps.heatmap_layer(locations,weights=HS,point_radius=1,max_intensity = 100)
geojson_layer3 = gmaps.geojson_layer(USA_geojson,fill_opacity=0.02)
fig.add_layer(heat_layer3)
fig.add_layer(geojson_layer3)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
#college degree 


heat_layer4 = gmaps.heatmap_layer(locations,weights=college,point_radius = 5,max_intensity = 100)
geojson_layer4 = gmaps.geojson_layer(USA_geojson,fill_opacity=0.02)
fig.add_layer(heat_layer4)
fig.add_layer(geojson_layer4)
fig

Figure(layout=FigureLayout(height='420px'))