In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Store filepath in a variable
Poverty_Data = "Data/Poverty_Data.csv"
Poverty_Education_Data = "Data/Poverty_Education_Data.csv"
Income_Data = "Data/Income.csv"
Education_Income_Data = "Data/ACS_17_5YR_S1501_Education.csv"
Married_Data = "Data/Married_By_Zip.csv"

In [3]:
Poverty_Data_df = pd.read_csv(Poverty_Data, encoding="ISO-8859-1", skiprows=[1], low_memory=False)
Poverty_Education_Data_df = pd.read_csv(Poverty_Education_Data, encoding="ISO-8859-1", skiprows=[1], low_memory=False)
Income_Data_df = pd.read_csv(Income_Data, encoding="ISO-8859-1", skiprows=[1], low_memory=False)
Education_Income_Data_df = pd.read_csv(Education_Income_Data, encoding="ISO-8859-1", skiprows=[1], low_memory=False)
Married_Data_df = pd.read_csv(Married_Data, encoding="ISO-8859-1", low_memory=False)

In [4]:
Married_Data_df.head()

,Zip Code,Now married (except separated); Estimate; Population 15 years and over,Divorced; Estimate; Population 15 years and over,Never married; Estimate; Population 15 years and over
0,ZCTA5 00601,38.6,13.9,39.3
1,ZCTA5 00602,40.9,12.7,36.6
2,ZCTA5 00603,39.1,14.3,36
3,ZCTA5 00606,34.6,10.1,46
4,ZCTA5 00610,41.4,11.5,35

In [5]:
Poverty_Data_df['GEO.display-label'] = Poverty_Data_df['GEO.display-label'].astype(str).str[-5:]
Poverty_Education_Data_df['GEO.display-label'] = Poverty_Education_Data_df['GEO.display-label'].astype(str).str[-5:]
Income_Data_df['GEO.display-label'] = Income_Data_df['GEO.display-label'].astype(str).str[-5:]
Education_Income_Data_df['GEO.display-label'] = Education_Income_Data_df['GEO.display-label'].astype(str).str[-5:]
Married_Data_df['Zip Code'] = Married_Data_df['Zip Code'].astype(str).str[-5:]

In [6]:
Married_Data_df.head()

,Zip Code,Now married (except separated); Estimate; Population 15 years and over,Divorced; Estimate; Population 15 years and over,Never married; Estimate; Population 15 years and over
0,00601,38.6,13.9,39.3
1,00602,40.9,12.7,36.6
2,00603,39.1,14.3,36
3,00606,34.6,10.1,46
4,00610,41.4,11.5,35

In [7]:
del Poverty_Data_df['GEO.id']
del Poverty_Data_df['GEO.id2']
Poverty_Data_df.rename(columns={'GEO.display-label':'Zip Code'}, inplace=True)

del Poverty_Education_Data_df['GEO.id']
del Poverty_Education_Data_df['GEO.id2']
Poverty_Education_Data_df.rename(columns={'GEO.display-label':'Zip Code'}, inplace=True)

del Income_Data_df['GEO.id']
del Income_Data_df['GEO.id2']
Income_Data_df.rename(columns={'GEO.display-label':'Zip Code'}, inplace=True)

del Education_Income_Data_df['GEO.id']
del Education_Income_Data_df['GEO.id2']
Education_Income_Data_df.rename(columns={'GEO.display-label':'Zip Code'}, inplace=True)

In [8]:
Income_Data_df.rename(columns={'HC03_EST_VC02':'Mean income (dollars); Estimate; All households', 'HC03_MOE_VC02':'Mean income (dollars); Margin of Error; All households'}, inplace=True)
Education_Income_Data_df.rename(columns={'HC01_EST_VC81':'MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Less than high school graduate',\
                                 'HC01_EST_VC82' : 'MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - High school graduate (includes equivalency)',\
                                 'HC01_EST_VC83' : 'MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Some college or associate\'s degree',\
                                 'HC01_EST_VC84' : 'MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Bachelor\'s degree',\
                                 'HC01_EST_VC85' : 'MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree',\
                                 'HC02_EST_VC09' : 'Percent; Estimate; Population 25 years and over - Less than 9th grade',\
                                 'HC02_EST_VC10' : 'Percent; Estimate; Population 25 years and over - 9th to 12th grade, no diploma',\
                                 'HC01_EST_VC11' : 'Total; Estimate; Population 25 years and over - High school graduate (includes equivalency)',\
                                 'HC02_EST_VC12' : 'Percent; Estimate; Population 25 years and over - Some college, no degree',\
                                 'HC02_EST_VC13' : 'Percent; Estimate; Population 25 years and over - Associate\'s degree',\
                                 'HC02_EST_VC14' : 'Percent; Estimate; Population 25 years and over - Bachelor\'s degree',\
                                 'HC02_EST_VC15' : 'Percent; Estimate; Population 25 years and over - Graduate or professional degree'\
                                 ''}, inplace=True)

In [9]:
Income_Data_clean_df = Income_Data_df[['Zip Code','Mean income (dollars); Estimate; All households', 'Mean income (dollars); Margin of Error; All households']]
Education_Income_Data_clean_df = Education_Income_Data_df[['Zip Code',\
                                           'MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Less than high school graduate',\
                                           'MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - High school graduate (includes equivalency)',\
                                           'MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Some college or associate\'s degree',\
                                           'MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Bachelor\'s degree',\
                                           'MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree']]
Education_Attained_Data_clean_df = Education_Income_Data_df[['Zip Code',\
                                           'Percent; Estimate; Population 25 years and over - Less than 9th grade',\
                                           'Percent; Estimate; Population 25 years and over - 9th to 12th grade, no diploma',\
                                           'Percent; Estimate; Population 25 years and over - Some college, no degree',\
                                           'Percent; Estimate; Population 25 years and over - Associate\'s degree',\
                                           'Percent; Estimate; Population 25 years and over - Bachelor\'s degree',\
                                           'Percent; Estimate; Population 25 years and over - Graduate or professional degree']]

In [10]:
Education_Attained_Data_clean_df.head()

,Zip Code,Percent; Estimate; Population 25 years and over - Less than 9th grade,"Percent; Estimate; Population 25 years and over - 9th to 12th grade, no diploma","Percent; Estimate; Population 25 years and over - Some college, no degree",Percent; Estimate; Population 25 years and over - Associate's degree,Percent; Estimate; Population 25 years and over - Bachelor's degree,Percent; Estimate; Population 25 years and over - Graduate or professional degree
0,00601,24.7,11.4,14.6,6.2,15.1,3.1
1,00602,23.5,10.7,10.4,13.3,13.4,5.8
2,00603,18.7,10.8,13.1,7.0,16.7,6.1
3,00606,30.4,19.0,3.8,5.7,7.4,2.6
4,00610,22.7,9.9,10.6,10.3,11.8,3.4

In [11]:
combined_data_df = pd.merge(Income_Data_clean_df, Education_Income_Data_clean_df, how="left", on="Zip Code")
combined_data_df = pd.merge(combined_data_df, Education_Attained_Data_clean_df, how="left", on="Zip Code")
combined_data_df = pd.merge(combined_data_df, Married_Data_df, how="left", on="Zip Code")

In [12]:
combined_data_df.head()

,Zip Code,Mean income (dollars); Estimate; All households,Mean income (dollars); Margin of Error; All households,MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Less than high school graduate,MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - High school graduate (includes equivalency),MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Some college or associate's degree,MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Bachelor's degree,MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2017 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Percent; Estimate; Population 25 years and over - Less than 9th grade,"Percent; Estimate; Population 25 years and over - 9th to 12th grade, no diploma","Percent; Estimate; Population 25 years and over - Some college, no degree",Percent; Estimate; Population 25 years and over - Associate's degree,Percent; Estimate; Population 25 years and over - Bachelor's degree,Percent; Estimate; Population 25 years and over - Graduate or professional degree,Now married (except separated); Estimate; Population 15 years and over,Divorced; Estimate; Population 15 years and over,Never married; Estimate; Population 15 years and over
0,00601,18970,2094,11346,14095,13631,21481,34861,24.7,11.4,14.6,6.2,15.1,3.1,38.6,13.9,39.3
1,00602,24179,1772,7483,10600,13981,20086,27471,23.5,10.7,10.4,13.3,13.4,5.8,40.9,12.7,36.6
2,00603,27627,2135,10459,12418,15709,24563,36667,18.7,10.8,13.1,7.0,16.7,6.1,39.1,14.3,36
3,00606,16739,1970,6885,11519,12969,19209,-,30.4,19.0,3.8,5.7,7.4,2.6,34.6,10.1,46
4,00610,25085,1468,9500,15063,14959,23597,34375,22.7,9.9,10.6,10.3,11.8,3.4,41.4,11.5,35

In [13]:
#columns = list(combined_data_df)

In [14]:
columns = combined_data_df.loc[:, combined_data_df.columns != 'Zip Code']

In [ ]:
combined_data_df.to_csv('Project1_Data.csv', index=False)