In [1]:
from uszipcode import SearchEngine
import pandas as pd
import requests
import json
import pprint as pprint
from tqdm import tqdm_notebook

In [9]:
Project1_Data = "Project1_Data.csv"
Project1_Data_df = pd.read_csv(Project1_Data, dtype=str, low_memory=False)

In [10]:
zipcode = Project1_Data_df['Zip Code']

In [11]:
zipcode_df = pd.DataFrame(zipcode)

In [12]:
zipcode_df = zipcode_df.head(500)

In [24]:
zipcode_df['City'] = ''
zipcode_df['Lat'] = ''
zipcode_df['Lng'] = ''
zipcode_df['Median Income'] = ''
zipcode_df['Population'] = ''
zipcode_df['Less Than High School Diploma'] = ''
zipcode_df['High School Graduate'] = ''
zipcode_df['Associate\'s Degree'] = ''
zipcode_df['Bachelor\'s Degree'] = ''
zipcode_df['Master\'s Degree'] = ''
zipcode_df['Professional School Degree'] = ''
zipcode_df['Doctorate Degree'] = ''

In [26]:
search = SearchEngine(simple_zipcode=False)
for index, row in tqdm_notebook(list(zipcode_df.iterrows())):
#for zipcode in tqdm_notebook(zipcode):
    zipc = row['Zip Code'] 
    result = search.by_zipcode(zipc)
    grab = result.to_dict()
    zipcode_df.loc[index, 'City'] = grab['major_city']
    zipcode_df.loc[index, 'Lng'] = grab['lng']
    zipcode_df.loc[index, 'Lat'] = grab['lat']
    zipcode_df.loc[index, 'Median Income'] = grab['median_household_income']
    zipcode_df.loc[index, 'Population'] = grab['population']
    hold = grab['educational_attainment_for_population_25_and_over']
    
    try:
        zipcode_df.loc[index, 'Less Than High School Diploma'] = [d.get('values') for d in hold][0][0]['y']
        zipcode_df.loc[index, 'High School Graduate'] = [d.get('values') for d in hold][0][1]['y']
        zipcode_df.loc[index, 'Associate\'s Degree'] = [d.get('values') for d in hold][0][2]['y']
        zipcode_df.loc[index, 'Bachelor\'s Degree'] = [d.get('values') for d in hold][0][3]['y']
        zipcode_df.loc[index, 'Master\'s Degree'] = [d.get('values') for d in hold][0][4]['y']
        zipcode_df.loc[index, 'Professional School Degree'] = [d.get('values') for d in hold][0][5]['y']
        zipcode_df.loc[index, 'Doctorate Degree'] = [d.get('values') for d in hold][0][6]['y']
        
    except (TypeError):
        zipcode_df.loc[index, 'Less Than High School Diploma'] = 0
        zipcode_df.loc[index, 'High School Graduate'] = 0
        zipcode_df.loc[index, 'Associate\'s Degree'] = 0
        zipcode_df.loc[index, 'Bachelor\'s Degree'] = 0
        zipcode_df.loc[index, 'Master\'s Degree'] = 0
        zipcode_df.loc[index, 'Professional School Degree'] = 0
        zipcode_df.loc[index, 'Doctorate Degree'] = 0

HBox(children=(IntProgress(value=0, max=500), HTML(value='')))

In [27]:
zipcode_df

,Zip Code,City,Lat,Lng,Median Income,Population,Less Than High School Diploma,High School Graduate,Associate's Degree,Bachelor's Degree,Master's Degree,Professional School Degree,Doctorate Degree
0,00601,Adjuntas,None,None,None,None,0,0,0,0,0,0,0
1,00602,Aguada,18.36,-67.18,None,41520,0,0,0,0,0,0,0
2,00603,Aguadilla,18.45,-67.11,None,54689,0,0,0,0,0,0,0
3,00606,Maricao,18.2,-66.9,None,6615,0,0,0,0,0,0,0
4,00610,Anasco,18.28,-67.13,None,29016,0,0,0,0,0,0,0
5,00612,Arecibo,18.4,-66.68,None,67010,0,0,0,0,0,0,0
6,00616,Bajadero,18.4,-66.68,None,11017,0,0,0,0,0,0,0
7,00617,Barceloneta,18.44,-66.56,None,24597,0,0,0,0,0,0,0
8,00622,Boqueron,18,-67.16,None,7853,0,0,0,0,0,0,0
9,00623,Cabo Rojo,18.1,-67.2,None,43061,0,0,0,0,0,0,0
10,00624,Penuelas,None,None,None,None,0,0,0,0,0,0,0
11,00627,Camuy,18.42,-66.86,None,35159,0,0,0,0,0,0,0
12,00631,Castaner,None,None,None,None,0,0,0,0,0,0,0
13,00637,Sabana Grande,None,None,None,None,0,0,0,0,0,0,0
14,00638,Ciales,18.3,-66.5,None,18941,0,0,0,0,0,0,0
15,00641,Utuado,18.2,-66.7,None,31191,0,0,0,0,0,0,0
16,00646,Dorado,None,None,None,None,0,0,0,0,0,0,0
17,00647,Ensenada,17.98,-66.92,None,6172,0,0,0,0,0,0,0
18,00650,Florida,18.38,-66.56,None,14998,0,0,0,0,0,0,0
19,00652,Garrochales,18.46,-66.64,None,4715,0,0,0,0,0,0,0
20,00653,Guanica,17.98,-66.92,None,13307,0,0,0,0,0,0,0
21,00656,Guayanilla,18.04,-66.79,None,21481,0,0,0,0,0,0,0
22,00659,Hatillo,18.41,-66.8,None,41953,0,0,0,0,0,0,0
23,00660,Hormigueros,18.13,-67.12,None,17250,0,0,0,0,0,0,0
24,00662,Isabela,None,None,None,None,0,0,0,0,0,0,0
25,00664,Jayuya,18.23,-66.59,None,16784,0,0,0,0,0,0,0
26,00667,Lajas,None,None,None,None,0,0,0,0,0,0,0
27,00669,Lares,18.3,-66.9,None,29744,0,0,0,0,0,0,0
28,00670,Las Marias,18.24,-66.99,None,9807,0,0,0,0,0,0,0
29,00674,Manati,18.42,-66.49,None,44457,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,02118,Boston,42.34,-71.07,54152,26498,3342,4658,606,5583,3024,1701,1085
471,02119,Roxbury,42.32,-71.08,27180,25346,3640,7280,891,2149,1018,190,135
472,02120,Roxbury Crossing,42.33,-71.1,35077,15181,1185,2338,275,1155,444,247,223
473,02121,Dorchester,42.31,-71.08,28238,25978,3929,9105,896,1474,703,97,19
474,02122,Dorchester,42.29,-71.05,50192,23479,3695,8281,723,2438,785,131,76
475,02124,Dorchester Center,42.29,-71.07,48841,47783,6167,17044,2699,4220,1751,343,364
476,02125,Dorchester,42.32,-71,45130,33295,4499,9062,1249,4175,1896,412,198
477,02126,Mattapan,42.28,-71.09,45238,25562,4202,10555,1149,1860,649,169,98
478,02127,Boston,42.33,-71.04,68724,31799,2471,8282,873,9783,3120,619,250
479,02128,Boston,42.37,-71.02,48704,40508,9835,13897,1182,3916,1471,264,114
480,02129,Charlestown,42.38,-71.06,86346,16439,1392,3485,467,4536,2314,875,289
481,02130,Jamaica Plain,42.31,-71.12,75730,35401,2194,7133,809,7832,6125,1973,1799
482,02131,Roslindale,42.28,-71.12,66735,29826,2869,8945,1266,4941,3006,502,596
483,02132,West Roxbury,42.28,-71.16,83360,25861,1066,7935,1091,5614,3659,672,655
484,02134,Allston,42.36,-71.13,37820,21503,1628,3550,228,4094,1371,382,303
485,02135,Brighton,42.35,-71.15,48687,42780,2242,7039,875,8527,4279,980,1112
486,02136,Hyde Park,42.25,-71.13,58890,28488,2323,10385,1787,3077,1425,250,143
487,02138,Cambridge,42.38,-71.13,75446,36314,450,2465,405,6968,6604,1887,3404
488,02139,Cambridge,42.36,-71.1,71745,36349,2000,4736,556,7334,5907,1521,2973
489,02140,Cambridge,42.39,-71.13,71908,17607,907,3121,563,3659,3407,747,1316
490,02141,Cambridge,42.37,-71.08,64326,11910,1172,2467,207,2637,1737,487,837
491,02142,Cambridge,42.36,-71.08,100114,3141,18,81,43,669,661,203,306
492,02143,Somerville,42.38,-71.1,68440,24514,2080,5338,757,5712,3684,748,1311
493,02144,Somerville,42.4,-71.12,78380,23891,1210,4003,675,5640,4151,717,1182
494,02145,Somerville,42.39,-71.09,55487,25439,3059,7874,776,3508,1687,292,413
495,02148,Malden,42.43,-71.05,53798,59503,6144,19608,2693,7877,3804,802,818
496,02149,Everett,42.41,-71.05,49368,41550,5990,17138,1403,3371,881,178,104
497,02150,Chelsea,42.4,-71.03,47291,35124,8354,9902,1158,2071,901,475,128
498,02151,Revere,42.42,-71,51863,51808,7138,21191,2365,5109,1417,351,182
499,02152,Winthrop,42.37,-70.97,64548,17497,749,6631,1288,3303,1146,321,65